{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0, shrink-to-fit=no" />
  <link rel="stylesheet" type="text/css" href="{% static 'screen.css' %}" />
  <!-- <link rel="stylesheet" href="https://basehold.it/26"> -->
</head>

<body>
  <nav id="navigation">
    <ul>
      <li><a href="#dummy">Home</a></li>
      <li><a href="/viewsessionpost">Sessions</a></li>
      <li><a href="/map">Map</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>

  <h1>Study Group Finder</h1>
  <!-- TODO: Button to "Create new study post" -->
  <p>

  <form action="/userhome/" method="POST">
	  {% csrf_token %}
	 <ol>
		 <li>
		<label for="id">ID</label>
		  <input type="text" name="id">
		 </li>
		 <li>
		  <label for="topic">Topic</label>
		  <input type="text" name="topic">
		 </li>
		 <li>

    <button type="create">Create New Study Session</button>
		 </li>
	  </ol>
  </form>
  </p>

  <article id="table">
    <!-- TODO: Obtain list of study sessions that the user is attending or planning to attend -->
    <h2>Upcoming Sessions</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Topic</th>
          <th>Subject</th>
          <th>Date</th>
          <th>Time</th>
          <th>Room</th>
        </tr>
      </thead>
      <tbody>
{% for session in session_list %}
        <tr>
		<td> {{ session.topic }}</td>
		<td> {{ session.courseid.coursename }} </td>
		<td> {{ session.sessiondate }}</td>
		<td> {{ session.sessiontime }}</td>
          	<td> {{ session.roomid }} </td>
        </tr>
{% endfor %}
      </tbody>
    </table>
  </article>

</body>

</html>
