{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Map</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0, shrink-to-fit=no" />
  <link rel="stylesheet" type="text/css"  href="{% static 'screen.css' %}" />
  <!-- <link rel="stylesheet" href="https://basehold.it/26"> -->
</head>

<body>
  <nav id="navigation">
    <ul>
      <li><a href="/userhome">Home</a></li>
      <li><a href="/viewsessionpost">Sessions</a></li>
      <li><a href="#dummy">Map</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  <!-- TODO: Put a lovely map of the IIT main campus here -->
  <h1>Main Campus Map</h1>
  <figure id="map">
	  <img src="{% static 'map.jpg' %}" alt="Image of the IIT Main Campus"/>
    <figcaption>Building names on the map also include their appreviated version, such as
      "SB" for Stuart Building.</figcaption>
  </figure>
</body>

</html>
