<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0, shrink-to-fit=no" />
  <link rel="stylesheet" href="css/screen.css" />
  <link rel="stylesheet" href="https://basehold.it/26">
</head>

<body>
  <nav id="navigation">
    <ul>
      <li><a href="#dummy">Home</a></li>
      <li><a href="#dummy">Sessions</a></li>
      <li><a href="#dummy">Map</a></li>
      <li><a href="#dummy">Logout</a></li>
    </ul>
  </nav>
  <!-- TODO: Add options to join/leave session -->

  <!-- TODO: Add comment form / comments section -->
</body>

</html>
